
.auth-navbar{

    width:100%;
    height:90px;

    padding:0 60px;

    background:white;

    border-bottom:1px solid #E2E8F0;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.logo a{

    font-size:30px;
    font-weight:700;

    color:#0F172A;
}

.logo span{

    color:#2563EB;
}

.back-home{

    display:flex !important;

    flex-direction:row !important;

    align-items:center !important;

    justify-content:center;

    gap:10px;

    width:auto !important;

    padding:12px 22px;

    border:1px solid #CBD5E1;

    border-radius:14px;

    background:#FFFFFF;

    color:#0F172A;

    font-weight:600;

    text-decoration:none;

    white-space:nowrap;

    line-height:1;

    transition:0.3s;

    box-shadow:0 5px 20px rgba(0,0,0,0.04);
}

.back-home:hover{

    background:#2563EB;

    color:white;

    transform:translateY(-3px);
}





.auth-container{

    width:100%;
    min-height:100vh;

    display:flex;

    background:#F8FAFC;
}

.auth-left{

    width:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:80px;
}

.auth-content h1{

    font-size:65px;

    line-height:1.2;

    margin-bottom:25px;
}

.auth-content p{

    font-size:20px;

    color:#64748B;

    line-height:1.8;
}

.auth-right{

    width:50%;

    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-form{

    width:430px;

    background:white;

    padding:50px;

    border-radius:24px;

    border:1px solid #E2E8F0;

    box-shadow:0 15px 40px rgba(0,0,0,0.05);

    animation:fadeUp 1s ease;
}

.auth-form h2{

    font-size:38px;

    margin-bottom:35px;
}

.input-group{

    margin-bottom:22px;
}

.input-group input{

    width:100%;

    padding:17px;

    border-radius:14px;

    border:1px solid #CBD5E1;

    font-size:16px;

    outline:none;
}

.input-group input:focus{

    border-color:#2563EB;
}

.auth-btn{

    width:100%;

    padding:17px;

    border:none;

    border-radius:14px;

    background:#2563EB;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:0.3s;
}

.auth-btn:hover{

    transform:translateY(-4px);
}

.bottom-text{

    margin-top:22px;

    text-align:center;

    color:#64748B;
}

.bottom-text a{

    color:#2563EB;
}
.password-group{

    position:relative;
}

.password-group input{

    width:100%;

    padding:16px 55px 16px 16px !important;
}

.toggle-password{

    position:absolute;

    right:18px;
    top:50%;

    transform:translateY(-50%);

    cursor:pointer;

    color:#94A3B8;

    font-size:18px;

    z-index:100;

    transition:0.3s;
}

.toggle-password:hover{

    color:#2563EB;
}